@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #663cff;
  --secondary: #f9f7ff;

  --primary-light: #e8e1ff;

  --gray1: #393939;
  --gary2: #636363;
  --gary3: #848484;
  --gary4: #a7a7a7;
  --gray5: #d8d8d8;

  --text-primary: #111111;
  --text-point-red: #f73030;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-light: var(--primary-light);

  --color-gray1: var(--gray1);
  --color-gray2: var(--gray2);
  --color-gray3: var(--gray3);
  --color-gray4: var(--gray4);
  --color-gray5: var(--gray5);

  --color-text-primary: var(--text-primary);
  --color-text-point-red: var(--text-point-red);

  --font-sans: var(--font-pretendard);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-pretendard), sans-serif;
}
